/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
html{
    font-size: 62.5%; /* 16 px mult par 62.5% = 10 rem */ 
 
    background:url(../asset/rym574876.jpg)no-repeat fixed center center / cover;
    background:linear-gradient(to top,rgba(0,0,0,.6) 50%,rgba(0,0,0,.6) 50%), 
} 
body{
    font: 1.6rem "Montserrat",sans-serif;
    margin: 0;
    letter-spacing: .1rem; /* 1px */
    line-height: 1.6;
  
    
    
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
ion-icon{
    vertical-align: -.4rem;
}
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #fff #222;
 }
 /* webkit */
 ::-webkit-scrollbar {
    width: .9rem;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1rem rgba(244, 243, 240, 0.3);
  }
   
 ::-webkit-scrollbar-thumb {
    background-color: rgb(39, 56, 78);
    outline: .1rem solid rgb(30, 30, 1);
  }

/* THEME */
:root{
    --bgcolor-theme: rgba(45, 52, 54,1.0);
    --bgcolor-header: #222;
    --bgcolor-list: rgba(223, 230, 233,1.0);
    --letter-color: #fff;
    --letter-color-default: #222;
}
/* header */
header{
    background: var(--bgcolor-header);
    margin-bottom: 5rem;
}
header h1{
    text-align: center;
    color: var(--letter-color);
    line-height: 6.5rem;

}
figure{
    max-width: 90rem;
    margin: 0 auto;
    border: solid .1rem #f5ebeb;
    padding: 1rem;
    background-color: var(--letter-color);

}
figure img {
    opacity: .5rem;
    display: inline-block;
    max-width: 100%;

}
figure figcaption ul{
    line-height: 4.5rem;
}
figure figcaption ul.list-movie li{
    padding: 0 .5rem;
}
/* 1sur2 */
figure figcaption ul.list-movie li:nth-child(2n+ 0){
    background-color: var(--bgcolor-list);
}
details{
    background-color: var(--bgcolor-list);
}
details summary{
    line-height: 3rem;
    padding: .5rem;
}
details p{
    padding: 0 .5rem;
}
/* footer */
footer *{
    text-align: center;
    color: var(--letter-color);
    line-height: 4.5rem;
}